* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
  background-color: #D3D3D3;
}

.button {
  font-family: 'Bebas Neue';
  font-size: 21px;
  color: white;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: none;
  background-color: #1197cc;
  box-shadow: #094c66 4px 4px 4px;
  border-radius: 5px;
  transition: transform 200ms, box-shadow 200ms;
}
.button:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: #094c66 0px 0px 0px;
}

/* For the Vanilla version of Scroll Reveal */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.2s ease;
  min-height: 200px;
  max-width: 300px;
  padding: 50px;
  margin: 500px auto;
  background-color: red;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}